<a href="https://colab.research.google.com/github/Snehamn24/pandas/blob/main/pandas_library.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Library

1 . Loading the data into pandas

In [1]:
import pandas as pd

In [3]:
#reading the CSV file as a dataframe
df = pd.read_csv("/content/athlete_events.csv")
print(df)

            ID                      Name Sex   Age  Height  Weight  \
0            1                 A Dijiang   M  24.0   180.0    80.0
1            2                  A Lamusi   M  23.0   170.0    60.0
2            3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN
3            4      Edgar Lindenau Aabye   M  34.0     NaN     NaN
4            5  Christine Jacoba Aaftink   F  21.0   185.0    82.0
...        ...                       ...  ..   ...     ...     ...
271111  135569                Andrzej ya   M  29.0   179.0    89.0
271112  135570                  Piotr ya   M  27.0   176.0    59.0
271113  135570                  Piotr ya   M  27.0   176.0    59.0
271114  135571        Tomasz Ireneusz ya   M  30.0   185.0    96.0
271115  135571        Tomasz Ireneusz ya   M  34.0   185.0    96.0

                  Team  NOC        Games  Year  Season            City  \
0                China  CHN  1992 Summer  1992  Summer       Barcelona
1                China  CHN  2012 Summer  2012  Summer          London
2              Denmark  DEN  1920 Summer  1920  Summer       Antwerpen
3       Denmark/Sweden  DEN  1900 Summer  1900  Summer           Paris
4          Netherlands  NED  1988 Winter  1988  Winter         Calgary
...                ...  ...          ...   ...     ...             ...
271111        Poland-1  POL  1976 Winter  1976  Winter       Innsbruck
271112          Poland  POL  2014 Winter  2014  Winter           Sochi
271113          Poland  POL  2014 Winter  2014  Winter           Sochi
271114          Poland  POL  1998 Winter  1998  Winter          Nagano
271115          Poland  POL  2002 Winter  2002  Winter  Salt Lake City

                Sport                                     Event Medal
0          Basketball               Basketball Men's Basketball   NaN
1                Judo              Judo Men's Extra-Lightweight   NaN
2            Football                   Football Men's Football   NaN
3          Tug-Of-War               Tug-Of-War Men's Tug-Of-War  Gold
4       Speed Skating          Speed Skating Women's 500 metres   NaN
...               ...                                       ...   ...
271111           Luge                Luge Mixed (Men)'s Doubles   NaN
271112    Ski Jumping  Ski Jumping Men's Large Hill, Individual   NaN
271113    Ski Jumping        Ski Jumping Men's Large Hill, Team   NaN
271114      Bobsleigh                      Bobsleigh Men's Four   NaN
271115      Bobsleigh                      Bobsleigh Men's Four   NaN

[271116 rows x 15 columns]

In [4]:
#To view the 1st 5 rows we can use head()
print(df.head())

   ID                      Name Sex   Age  Height  Weight            Team  \
0   1                 A Dijiang   M  24.0   180.0    80.0           China
1   2                  A Lamusi   M  23.0   170.0    60.0           China
2   3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN         Denmark
3   4      Edgar Lindenau Aabye   M  34.0     NaN     NaN  Denmark/Sweden
4   5  Christine Jacoba Aaftink   F  21.0   185.0    82.0     Netherlands

   NOC        Games  Year  Season       City          Sport  \
0  CHN  1992 Summer  1992  Summer  Barcelona     Basketball
1  CHN  2012 Summer  2012  Summer     London           Judo
2  DEN  1920 Summer  1920  Summer  Antwerpen       Football
3  DEN  1900 Summer  1900  Summer      Paris     Tug-Of-War
4  NED  1988 Winter  1988  Winter    Calgary  Speed Skating

                              Event Medal
0       Basketball Men's Basketball   NaN
1      Judo Men's Extra-Lightweight   NaN
2           Football Men's Football   NaN
3       Tug-Of-War Men's Tug-Of-War  Gold
4  Speed Skating Women's 500 metres   NaN

In [5]:
#to get the required number of the rows we can pass the number of rows as the parameter to the head()
print(df.head(3))

   ID                 Name Sex   Age  Height  Weight     Team  NOC  \
0   1            A Dijiang   M  24.0   180.0    80.0    China  CHN
1   2             A Lamusi   M  23.0   170.0    60.0    China  CHN
2   3  Gunnar Nielsen Aaby   M  24.0     NaN     NaN  Denmark  DEN

         Games  Year  Season       City       Sport  \
0  1992 Summer  1992  Summer  Barcelona  Basketball
1  2012 Summer  2012  Summer     London        Judo
2  1920 Summer  1920  Summer  Antwerpen    Football

                          Event Medal
0   Basketball Men's Basketball   NaN
1  Judo Men's Extra-Lightweight   NaN
2       Football Men's Football   NaN

In [6]:
#Inorder to get the last values we can use the tail()
print(df.tail())

            ID                Name Sex   Age  Height  Weight      Team  NOC  \
271111  135569          Andrzej ya   M  29.0   179.0    89.0  Poland-1  POL
271112  135570            Piotr ya   M  27.0   176.0    59.0    Poland  POL
271113  135570            Piotr ya   M  27.0   176.0    59.0    Poland  POL
271114  135571  Tomasz Ireneusz ya   M  30.0   185.0    96.0    Poland  POL
271115  135571  Tomasz Ireneusz ya   M  34.0   185.0    96.0    Poland  POL

              Games  Year  Season            City        Sport  \
271111  1976 Winter  1976  Winter       Innsbruck         Luge
271112  2014 Winter  2014  Winter           Sochi  Ski Jumping
271113  2014 Winter  2014  Winter           Sochi  Ski Jumping
271114  1998 Winter  1998  Winter          Nagano    Bobsleigh
271115  2002 Winter  2002  Winter  Salt Lake City    Bobsleigh

                                           Event Medal
271111                Luge Mixed (Men)'s Doubles   NaN
271112  Ski Jumping Men's Large Hill, Individual   NaN
271113        Ski Jumping Men's Large Hill, Team   NaN
271114                      Bobsleigh Men's Four   NaN
271115                      Bobsleigh Men's Four   NaN

In [8]:
print(df.tail(3)) #last 3 values will be printed

            ID                Name Sex   Age  Height  Weight    Team  NOC  \
271113  135570            Piotr ya   M  27.0   176.0    59.0  Poland  POL
271114  135571  Tomasz Ireneusz ya   M  30.0   185.0    96.0  Poland  POL
271115  135571  Tomasz Ireneusz ya   M  34.0   185.0    96.0  Poland  POL

              Games  Year  Season            City        Sport  \
271113  2014 Winter  2014  Winter           Sochi  Ski Jumping
271114  1998 Winter  1998  Winter          Nagano    Bobsleigh
271115  2002 Winter  2002  Winter  Salt Lake City    Bobsleigh

                                     Event Medal
271113  Ski Jumping Men's Large Hill, Team   NaN
271114                Bobsleigh Men's Four   NaN
271115                Bobsleigh Men's Four   NaN

# Creating our own data frame

In [13]:
new_data = {
    'name' : ["Harry","Ron","Hermonie","Cedric","ginny","Draco","Cho"],
    'house' : ["Gryffindor","Gryffindor","Gryffindor","Hufflepuff","Gryffindor","Slytherin","Ravenclaw"]
}
df1 = pd.DataFrame(new_data)

In [14]:
print(df1)

       name       house
0     Harry  Gryffindor
1       Ron  Gryffindor
2  Hermonie  Gryffindor
3    Cedric  Hufflepuff
4     ginny  Gryffindor
5     Draco   Slytherin
6       Cho   Ravenclaw

In [16]:
#importing the Harry Potter dataset

df2 = pd.read_csv("/content/Harry_potter.csv",sep=";")
print(df2)

      Id                                     Name  Gender  \
0      1                       Harry James Potter    Male
1      2                    Ronald Bilius Weasley    Male
2      3                    Hermione Jean Granger  Female
3      4  Albus Percival Wulfric Brian Dumbledore    Male
4      5                            Rubeus Hagrid    Male
..   ...                                      ...     ...
135  136                 Wilhelmina Grubbly-Plank  Female
136  137                          Fenrir Greyback    Male
137  138                      Gellert Grindelwald    Male
138  139                                    Dobby    Male
139  140                                 Kreacher    Male

                                                   Job       House  \
0                                              Student  Gryffindor
1                                              Student  Gryffindor
2                                              Student  Gryffindor
3                                           Headmaster  Gryffindor
4    Keeper of Keys and Grounds | Professor of Care...  Gryffindor
..                                                 ...         ...
135  Substitute professor of Care of Magical Creatu...         NaN
136                                                NaN         NaN
137           Revolutionary leader(c. 1920s[6] – 1945)         NaN
138  Malfoy family's house-elf (? - 1993),\nHogwart...         NaN
139  \nBlack family's house-elf (?-1996), \nHarry P...         NaN

                                    Wand              Patronus  \
0            11"  Holly  phoenix feather                  Stag
1             12" Ash unicorn tail hair   Jack Russell terrier
2     10¾"  vine wood dragon heartstring                 Otter
3      15" Elder Thestral tail hair core               Phoenix
4                  16"  Oak unknown core                   NaN
..                                   ...                   ...
135                              Unknown         Non-corporeal
136                              Unknown                   NaN
137  15", Elder, Thestral tail hair core                   NaN
138                                  NaN                   NaN
139                                  NaN                   NaN

                   Species              Blood status              Hair colour  \
0                    Human                Half-blood                    Black
1                    Human                Pure-blood                      Red
2                    Human               Muggle-born                    Brown
3                    Human                Half-blood  Silver| formerly auburn
4    Half-Human/Half-Giant   Part-Human (Half-giant)                    Black
..                     ...                       ...                      ...
135                 Human                        NaN                     Grey
136               Werewolf                       NaN                     Grey
137                 Human   Pure-blood or half-blood                    Blond
138              House elf                       NaN                    Green
139              House elf                       NaN                    White

       Eye colour                                            Loyalty  \
0    Bright green  Albus Dumbledore | Dumbledore's Army | Order o...
1            Blue  Dumbledore's Army | Order of the Phoenix | Hog...
2           Brown  Dumbledore's Army | Order of the Phoenix | Hog...
3            Blue  Dumbledore's Army | Order of the Phoenix | Hog...
4           Black  Albus Dumbledore | Order of the Phoenix | Hogw...
..            ...                                                ...
135           NaN         Hogwarts School of Witchcraft and Wizardry
136           NaN                     Lord Voldemort  | Death Eaters
137          Blue                     Gellert Grindelwald's Acolytes
138           NaN                                                NaN
139           NaN                                                NaN

                                                Skills               Birth  \
0    Parseltongue| Defence Against the Dark Arts | ...        31 July 1980
1                 Wizard chess | Quidditch goalkeeping        1 March 1980
2                                    Almost everything  19 September, 1979
3    Considered by many to be one of the most power...    Late August 1881
4    Resistant to stunning spells| above average st...     6 December 1928
..                                                 ...                 ...
135                                                NaN                 NaN
136                                    Physical combat            Pre 1945
137                                           Duelling                1883
138  A type of magic specific to house-elves, perfo...             28 June
139  Magic performed without a wand which includes ...                 NaN

                Death
0                 NaN
1                 NaN
2                 NaN
3      30 June, 1997
4                 NaN
..                ...
135               NaN
136               NaN
137       March, 1998
138  Late March, 1998
139               NaN

[140 rows x 15 columns]

In [17]:
print(df2.head())

   Id                                     Name  Gender  \
0   1                       Harry James Potter    Male
1   2                    Ronald Bilius Weasley    Male
2   3                    Hermione Jean Granger  Female
3   4  Albus Percival Wulfric Brian Dumbledore    Male
4   5                            Rubeus Hagrid    Male

                                                 Job       House  \
0                                            Student  Gryffindor
1                                            Student  Gryffindor
2                                            Student  Gryffindor
3                                         Headmaster  Gryffindor
4  Keeper of Keys and Grounds | Professor of Care...  Gryffindor

                                 Wand              Patronus  \
0         11"  Holly  phoenix feather                  Stag
1          12" Ash unicorn tail hair   Jack Russell terrier
2  10¾"  vine wood dragon heartstring                 Otter
3   15" Elder Thestral tail hair core               Phoenix
4               16"  Oak unknown core                   NaN

                 Species             Blood status              Hair colour  \
0                  Human               Half-blood                    Black
1                  Human               Pure-blood                      Red
2                  Human              Muggle-born                    Brown
3                  Human               Half-blood  Silver| formerly auburn
4  Half-Human/Half-Giant  Part-Human (Half-giant)                    Black

     Eye colour                                            Loyalty  \
0  Bright green  Albus Dumbledore | Dumbledore's Army | Order o...
1          Blue  Dumbledore's Army | Order of the Phoenix | Hog...
2         Brown  Dumbledore's Army | Order of the Phoenix | Hog...
3          Blue  Dumbledore's Army | Order of the Phoenix | Hog...
4         Black  Albus Dumbledore | Order of the Phoenix | Hogw...

                                              Skills               Birth  \
0  Parseltongue| Defence Against the Dark Arts | ...        31 July 1980
1               Wizard chess | Quidditch goalkeeping        1 March 1980
2                                  Almost everything  19 September, 1979
3  Considered by many to be one of the most power...    Late August 1881
4  Resistant to stunning spells| above average st...     6 December 1928

            Death
0             NaN
1             NaN
2             NaN
3  30 June, 1997
4             NaN

In [18]:
# sample method will display some rows randomly
print(df.sample(2))

            ID               Name Sex   Age  Height  Weight     Team  NOC  \
23041    12112    Geert Blanchart   M  25.0   180.0    74.0  Belgium  BEL
199808  100364  Jwani Riad Noseir   M  23.0     NaN     NaN    Egypt  EGY

              Games  Year  Season         City                      Sport  \
23041   1992 Winter  1992  Winter  Albertville  Short Track Speed Skating
199808  1936 Summer  1936  Summer       Berlin                 Basketball

                                               Event Medal
23041   Short Track Speed Skating Men's 1,000 metres   NaN
199808                   Basketball Men's Basketball   NaN

In [24]:
#converting the given file into the proper CSV file
df2.to_csv("/content/Harry_potter.csv",index=False)

In [25]:
df2 = pd.read_csv("/content/Harry_potter.csv")
print(df2.head())

   Id                                     Name  Gender  \
0   1                       Harry James Potter    Male
1   2                    Ronald Bilius Weasley    Male
2   3                    Hermione Jean Granger  Female
3   4  Albus Percival Wulfric Brian Dumbledore    Male
4   5                            Rubeus Hagrid    Male

                                                 Job       House  \
0                                            Student  Gryffindor
1                                            Student  Gryffindor
2                                            Student  Gryffindor
3                                         Headmaster  Gryffindor
4  Keeper of Keys and Grounds | Professor of Care...  Gryffindor

                                 Wand              Patronus  \
0         11"  Holly  phoenix feather                  Stag
1          12" Ash unicorn tail hair   Jack Russell terrier
2  10¾"  vine wood dragon heartstring                 Otter
3   15" Elder Thestral tail hair core               Phoenix
4               16"  Oak unknown core                   NaN

                 Species             Blood status              Hair colour  \
0                  Human               Half-blood                    Black
1                  Human               Pure-blood                      Red
2                  Human              Muggle-born                    Brown
3                  Human               Half-blood  Silver| formerly auburn
4  Half-Human/Half-Giant  Part-Human (Half-giant)                    Black

     Eye colour                                            Loyalty  \
0  Bright green  Albus Dumbledore | Dumbledore's Army | Order o...
1          Blue  Dumbledore's Army | Order of the Phoenix | Hog...
2         Brown  Dumbledore's Army | Order of the Phoenix | Hog...
3          Blue  Dumbledore's Army | Order of the Phoenix | Hog...
4         Black  Albus Dumbledore | Order of the Phoenix | Hogw...

                                              Skills               Birth  \
0  Parseltongue| Defence Against the Dark Arts | ...        31 July 1980
1               Wizard chess | Quidditch goalkeeping        1 March 1980
2                                  Almost everything  19 September, 1979
3  Considered by many to be one of the most power...    Late August 1881
4  Resistant to stunning spells| above average st...     6 December 1928

            Death
0             NaN
1             NaN
2             NaN
3  30 June, 1997
4             NaN

In [27]:
print(df2.columns)#as we have converted to the proper csv file we need to get the columns value as comma separated

Index(['Id', 'Name', 'Gender', 'Job', 'House', 'Wand', 'Patronus', 'Species',
       'Blood status', 'Hair colour', 'Eye colour', 'Loyalty', 'Skills',
       'Birth', 'Death'],
      dtype='object')

In [28]:
df2 = pd.read_csv("/content/Harry_potter.csv")

In [29]:
df2.head()

,Id,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills,Birth,Death
0,1,Harry James Potter,Male,Student,Gryffindor,"11"" Holly phoenix feather",Stag,Human,Half-blood,Black,Bright green,Albus Dumbledore | Dumbledore's Army | Order o...,Parseltongue| Defence Against the Dark Arts | ...,31 July 1980,NaN
1,2,Ronald Bilius Weasley,Male,Student,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,Human,Pure-blood,Red,Blue,Dumbledore's Army | Order of the Phoenix | Hog...,Wizard chess | Quidditch goalkeeping,1 March 1980,NaN
2,3,Hermione Jean Granger,Female,Student,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,Human,Muggle-born,Brown,Brown,Dumbledore's Army | Order of the Phoenix | Hog...,Almost everything,"19 September, 1979",NaN
3,4,Albus Percival Wulfric Brian Dumbledore,Male,Headmaster,Gryffindor,"15"" Elder Thestral tail hair core",Phoenix,Human,Half-blood,Silver| formerly auburn,Blue,Dumbledore's Army | Order of the Phoenix | Hog...,Considered by many to be one of the most power...,Late August 1881,"30 June, 1997"
4,5,Rubeus Hagrid,Male,Keeper of Keys and Grounds | Professor of Care...,Gryffindor,"16"" Oak unknown core",NaN,Half-Human/Half-Giant,Part-Human (Half-giant),Black,Black,Albus Dumbledore | Order of the Phoenix | Hogw...,Resistant to stunning spells| above average st...,6 December 1928,NaN